# Hugo 
 /public/ 
/resources/ 
/static/uploads/ 
hugo_stats.json  

# OS 
.DS_Store 
Thumbs.db  

# node.js 
/node_modules/

# others
go.sum
test.txt

# 新增這些
.hugo_build.lock
/resources/_gen/
.vscode/
.idea/
.env
*.log
*.bak
package-lock.json
